.game-element {
	width: 12rem;
	height: 12rem;
	margin: 0 1rem;
	position: relative;
	z-index: 99;
	transition: all 0.3s ease-in-out;
}

.game-element:nth-child(2) {
	height: 11.1rem;
	width: 11.1rem;
}

.disabled > img {
	opacity: 0.5;
	cursor: default;
}

.main-page__game-elements--user > .game-element {
	cursor: pointer;
}

.main-page__game-elements--user > .game-element:hover {
	transform: scale(1.2);
}
